@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');

body {
    margin-bottom: 11%;
}

p,
button,
span,
h3,
h2,
h1,
div {
    font-family: 'Robotto', sans-serif;
}

button:active {
    filter: brightness(99%);
}
