/* what's going on here when no internet avaible ? */
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');

body {
    margin: 0;
    margin-bottom: 11%;
    box-sizing: border-box;
}

p,
button,
span,
h3,
h2,
h1,
div {
    font-family: 'Robotto', sans-serif;
    outline: none;
}

button:active {
    filter: brightness(99%);
}

a {
    text-decoration: none;
}

a,
a:active,
a:focus {
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
